
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e6dfd2;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
}

html {
  scroll-behavior: smooth;
}


.container, section, div {
  max-width: 100%;
}


img, video, iframe, canvas, svg {
  max-width: 100%;
  height: auto;
}


p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}