* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'LT Museum', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #312519;
  background-color: #e6dfd2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e6dfd2;
}

#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* LT Museum Font Faces - TTF Version */
@font-face {
  font-family: 'LT Museum';
  src: url('./fonts/LTMuseum-Reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Museum';
  src: url('./fonts/LTMuseum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Museum';
  src: url('./fonts/LTMuseum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Museum';
  src: url('./fonts/LTMuseum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}